<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper">
	<select id="selectAllCompany" resultType="KimgCompany">
	SELECT * FROM KIMG.kimgCompany
	</select>
	<select id="selectPasswordPerson"  resultType="KimgPerson" parameterType="KimgPerson">
  		SELECT * FROM KIMG.kimgPerson per 
		left join KIMG.kimgPhoto pho 
		on per.nPerCnt = pho.nRefCode 
		and pho.cPhoType = 'per' 
		and pho.nPhoDel = 0
		left join `KIMG`.`kimgCompany` c on per.cPerCom = c.cComCode 
		WHERE per.nPerDel = 0 and cPerId = #{cPerId} and cPerPwd = #{cPerPwd}
  	</select>
  	<select id="selectAllPerson"  resultType="KimgPerson">
		SELECT * FROM KIMG.kimgPerson per 
		left join KIMG.kimgPhoto pho 
		on per.nPerCnt = pho.nRefCode 
		and pho.cPhoType = 'per' 
		and pho.nPhoDel = 0
		left join `KIMG`.`kimgCompany` c on per.cPerCom = c.cComCode 
		WHERE per.nPerDel = 0
  	</select>
  	<select id="selectAllPersonSrc"  resultType="KimgPerson" parameterType="String">
  		
		SELECT * FROM KIMG.kimgPerson per 
		left join KIMG.kimgPhoto pho 
		on per.nPerCnt = pho.nRefCode 
		and pho.cPhoType = 'per' 
		and pho.nPhoDel = 0
		left join `KIMG`.`kimgCompany` c on per.cPerCom = c.cComCode 
		WHERE per.nPerDel = 0 and (per.cPerName like CONCAT('%',#{vo},'%') or per.cPerId like CONCAT('%',#{vo},'%'))
  	</select>
  	<select id="selectOnePerson"  resultType="KimgPerson" parameterType="KimgPerson">
  		select * from `KIMG`.`kimgPerson` where nPerDel = 0 and nPerCnt = #{nPerCnt}
  	</select>
  	<insert id="insertPerson" parameterType="KimgPerson" useGeneratedKeys="true" keyProperty="nPerCnt">
  		INSERT INTO `KIMG`.`kimgPerson`
		(
		`cPerId`,
		`cPerPwd`,
		`cPerName`,
		`cPerCom`,
		`cPerPos`,
		`cPerCon`,
		`cPerEmail`,
		`dPerCrt`,
		`cPerCrtUsr`,
		`dPerMod`,
		`cPerModUsr`,
		`nPerDel`)
		VALUES
		(
		#{cPerId},
		#{cPerPwd},
		#{cPerName},
		#{cPerCom},
		#{cPerPos},
		#{cPerCon},
		#{cPerEmail},
		now(),
		#{cPerCrtUsr},
		now(),
		#{cPerModUsr},
		0);

  	</insert>
  	<update id="updatePerson" parameterType="KimgPerson">
	  	UPDATE `KIMG`.`kimgPerson`
		SET
		<if test="cPerId != null and cPerId != ''">
		`cPerId` = #{cPerId},
		</if>
		<if test="cPerPwd != null and cPerPwd != ''">
		`cPerPwd` = #{cPerPwd},
		</if>
		<if test="cPerName != null and cPerName != ''">
		`cPerName` = #{cPerName},
		</if>
		<if test="cPerCom != null and cPerCom != ''">
		`cPerCom` = #{cPerCom},
		</if>
		<if test="cPerPos != null and cPerPos != ''">
		`cPerPos` = #{cPerPos},
		</if>
		<if test="cPerCon != null and cPerCon != ''">
		`cPerCon` = #{cPerCon},
		</if>
		<if test="cPerEmail != null and cPerEmail != ''">
		`cPerEmail` = #{cPerEmail},
		</if>
		<if test="nPerDel != null and nPerDel != ''">
		`nPerDel` = #{nPerDel}
		</if>
		`dPerMod` = now(),
		`cPerModUsr` = #{cPerModUsr}
		WHERE `nPerCnt` = #{nPerCnt};
  	</update>
  	<insert id="insertPhoto" parameterType="KimgPhoto">
	  	INSERT INTO `KIMG`.`kimgPhoto`
		(
		`cPhoType`,
		`nRefCode`,
		`cPhoName`,
		`dPhoCrt`,
		`cPhoCrtUsr`,
		`dPhoMod`,
		`cPhoModUsr`,
		`nPhoDel`)
		VALUES
		(
		#{cPhoType},
		#{nRefCode},
		#{cPhoName},
		now(),
		#{cPhoCrtUsr},
		now(),
		#{cPhoModUsr},
		0);
  	</insert>
  	<select id="selectPhotoByParam" parameterType="KimgPhoto" resultType="KimgPhoto">
  	select * from `KIMG`.`kimgPhoto`
  	WHERE
  	`cPhoType` = #{cPhoType}
  	and
  	`nRefCode` = #{nRefCode}
  	and
  	`nPhoDel` = 0
  	</select>
  	<update id="updatePhotoByRefCodeToZero" parameterType="KimgPhoto">
  	Update
  	`KIMG`.`kimgPhoto`
  	SET nPhoDel = 1
  	WHERE nRefCode = #{nRefCode}
  	and cPhoType = #{cPhoType}
  	</update>
  	<select id="selectAllProduct" resultType="KimgProduct">
  	SELECT * FROM KIMG.kimgProduct where nPrdDel = 0;
  	</select>
  	<select id="selectAllItem" resultType="KimgItem">
  	SELECT * FROM KIMG.kimgItem where nItmDel = 0;
  	</select>
</mapper>