<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias type="www.ufo79.com.vo.KimgPersonVO" alias="KimgPerson"/>
		<typeAlias type="www.ufo79.com.vo.KimgPhotoVO" alias="KimgPhoto"/>
		<typeAlias type="www.ufo79.com.vo.KimgCompanyVO" alias="KimgCompany"/>
		<typeAlias type="www.ufo79.com.vo.KimgProductVO" alias="KimgProduct"/>
		<typeAlias type="www.ufo79.com.vo.KimgItemVO" alias="KimgItem"/>
		<typeAlias type="www.ufo79.com.vo.KimgEventVO" alias="KimgEvent"/>
		<typeAlias type="www.ufo79.com.vo.KimgCategoryVO" alias="KimgCategory"/>
		<typeAlias type="www.ufo79.com.vo.KimgDepartmentVO" alias="KimgDepartment"/>
		<typeAlias type="www.ufo79.com.vo.KimgSportVO" alias="KimgSport"/>
		<typeAlias type="www.ufo79.com.vo.KimgVenueVO" alias="KimgVenue"/>
		<typeAlias type="www.ufo79.com.vo.KimgTaskStatusVO" alias="KimgTaskStatus"/>
		<typeAlias type="www.ufo79.com.vo.KimgTaskTypeVO" alias="KimgTaskType"/>
		<typeAlias type="www.ufo79.com.vo.KimgTaskVO" alias="KimgTask"/>
		<typeAlias type="www.ufo79.com.vo.KimgDashVO" alias="KimgDash"/>
		<typeAlias type="www.ufo79.com.vo.KimgProgressVO" alias="KimgProgress"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="www/ufo79/com/mapper/mapper.xml" />
	</mappers>
</configuration>